<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
	{{loop}}
	<!--img class="osulogo" src="modules/ourlogo/osulogo.png" /-->
	<img class="makeohiologo" src="modules/ourlogo/makeohiologo.png" />
	<img class="makeohiologo" src={{curr_fr_img}} />
</div>
