<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div>
	{{loop}}
	<!--img class="osulogo" src="modules/ourlogo/osulogo.png" /-->
	<img class="makeohiologo1" src="modules/ourlogo/makeohiologo.png" />
	<video class="makeohiologo" autoplay="autoplay" loop><source src="/modules/ourlogo/LargeFR.mp4" type="video/mp4"></source></video>
</div>
